@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&family=Nunito+Sans:wght@300;400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply font-body bg-white-off text-navy-dark;
    }
}


@layer utilities {
    /* Elegan Custom Scrollbar */
    ::-webkit-scrollbar {
        width: 6px;
        height: 6px;
    }
    
    ::-webkit-scrollbar-track {
        background: transparent;
    }
    
    ::-webkit-scrollbar-thumb {
        @apply bg-gray-muted/30 rounded-full transition-colors;
    }
    
    ::-webkit-scrollbar-thumb:hover {
        @apply bg-navy-base/50;
    }

    /* Utilitas tambahan: Sembunyikan scrollbar sepenuhnya tapi tetap bisa di-scroll */
    .hide-scrollbar::-webkit-scrollbar {
        display: none;
    }
    .hide-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }
}

